
/* NAVBAR             --------------------------------------------------*/
.navbar {
  background-color: #2D2D2F; 
  padding-left: 2vw;
  position: sticky;
}

/* nav links*/

.navbar a{
  color: white;
  padding: 11px 2vw;
  font-weight: normal;
}

.navbar a:hover {
  color: #20c997;
}


/*HERO                --------------------------------------------------*/

.jumbotron {
  background-image: url("background.jpg");
  margin: 0%;
  padding: 9%;
  padding-top: 17%;
  padding-bottom: 30%;
  border-radius: 0%;
  color: transparent;
  max-height: 723px;
}

.jumbotron h1 {
  color: #F9FCFC;
  font-weight: bolder;
  font-size: 8.7vw;

}
.jumbotron p {
  padding-top: 0px;
  padding-left: 1%;
  color: #F9FCFC;
  font-weight: thin;
  font-size: 18px;

}
/*just for the vision sentence*/
#invisi-link{
  font-weight: normal;
}

#invisi-link2{
  color: #F9FCFC;
  font-weight: bold;
}


/* .row style         --------------------------------------------------*/

.row {
  background-color: white;
  text-align: left;
  padding: 3%;

}


.row h2{
  margin: 7%;
  margin-left: 0%;
  margin-bottom: 10%;
  font-size: 5.5vw;
  font-weight: bold;
}

/* for the individual columns */
.row .thumbnail{
  width: 96%;
  height: auto;
  padding: 1%;
  padding-bottom: 6%;
  position: static;

}

/* image */
.row img{
  width: 95%;
  max-width: 400px;
  height: auto;
  padding-bottom: 4%;
  position: static;
}



/*ABOUT              --------------------------------------------------*/

/* applied to all three about sections*/
.about{
  padding:0%;
  background-color: teal;
  text-align: left;
}

.about h2 {   
  margin: 0%;
  margin-bottom: 5%;
  font-size: 5.5vw;
  font-weight: bold;
}

.about .darker {
  color: #1FC190;
}

.about img {
  width: 80%;
  max-width: 400px;
  height: auto;
  position: static;
  padding-top: 5%;
}

.about .thumbnail{
  margin: 10%;
}


/* im from    -------------------------*/
.im-from {
background-color:  #F8FCFC;
padding-top: 4.5%;
}

.im-from p, h2, h3{
  color: #191C21;
}


/* i like     -------------------------*/
.i-like{
  background-color: #C2C6C6;
  text-align: center;
}

.i-like .thumbnail {
  padding-right: 10%;
}

.i-like h2 {
  text-align: left;
}
.i-like h3 {
  text-align: center;
  font-size: 2.8vw;
}

.i-like a{
  color: #4D9AC6;
}

/*brain image*/
 .i-like img{
  margin-top: 23.5%;
  margin-left: 12%;
 }


/*vision      -------------------------*/
.vision{
  background-color: #F9FCFC;
}

.vision img{
  padding-top: 33%;
}

.vision .thumbnail{
  margin-bottom: 2.5%;
}

.vision .text-works-pls{
  padding-right: 1%;
}


/*WORKS               --------------------------------------------------*/

.works{
  background-color: #161616;
  color: #E8EAEA;
}

.works .thumbnail{
  float: right;
}

.works h2{
  margin: 6%;
  margin-bottom: 8%;
  color: #E8EAEA;
}

.works h3{
  color: #E8EAEA;
}

/*.works .btn {
  color: #2D2D2F;
}*/


/*SMALLER WORKS       --------------------------------------------------*/

/*for the whole span*/
.smaller-works{
  background-color: #2D2D2F;
  color: #F9FCFC;
}

.smaller-works .thumbnail{
  float: right;
  
}

.smaller-works i{
  padding: 3%;
  text-align: center;
}

/* styling for smallerworks heading*/
.smaller-works h2{
  margin: 6%;
  margin-bottom: 8%;
  font-size: 4vw;
  font-weight: bold;
  color: #F9FCFC;
}

.smaller-works img {
  width: 120px;
}

.smaller-works a{
  color: #51A2D1;
}

/*CONTACT           --------------------------------------------------*/

 .contact{
  text-align: center;
  padding-top: 6%;
}

.contact h1{
  font-size: 7vw;
  padding-bottom: 3%;

}     

#myInput{
  width: 16em;
  height: 38px;
  color: white;
  background-color: #1BAD81;
  font-weight: thin;
  border-radius: 5px;
  border-color: transparent;
  padding-left: 3vw;
}

.icon {
  font-size: 100px;
}

.contact-icon{
  width: 40px;
  margin:0px;
}

.contact .btn{
  width: 60vw;
  height:50px;
  font-weight: bold;
  background-color: rgba(45,45,47,0.7);
  border-color: transparent;

}

.contact .btn:hover{
  background-color: #1BAD81;

}

.friendster:before{
  width: 60vw;
  height:50px;
  font-weight: bold;
  
  border-color: transparent;
  content: 'Add me on friendster';
}

.friendster:hover:before{
    content: "Just kidding";
    font-size: 20px;
}

.email:before{
  content: 'Copy my email';
}

.contact-icon{
  font-size: 30px;
}









